$font-family: var(--fontFamily);
$font-weight: var(--fontWeight);
$tex-transform: var(--textTransform);
$text-decoration: var(--textDecoration);
$font-size: var(--fontSize);
$line-height: var(--lineHeight);
$letter-spacing: var(--letterSpacing);
$btn-font-family: var(--buttonFontFamily);
$btn-font-weight: var(--buttonFontWeight);
$btn-font-size: var(--buttonFontSize);
$btn-line-height: var(--buttonLineHeight);
$form-border-initial-color: var(--formBorderInitialColor);
$form-border-focus-color: var(--formBorderFocusColor);
$form-border-size: var(--formBorderSize);
$radio-checkbox-initial-color: var(--radioCheckboxInitialColor);
$radio-checkbox-accent-color: var(--radioCheckboxAccentColor);
$color-1: var(--paletteColor1);
$color-2: var(--paletteColor2);
$color-3: var(--paletteColor3);
$color-4: var(--paletteColor4);
$color-5: var(--paletteColor5);
$color: var(--color);
$link-initial-color: var(--linkInitialColor);
$link-hover-color: var(--linkHoverColor);
$selection-text-color: var(--selectionTextColor);
$selection-bg-color: var(--selectionBackgroundColor);
$border-color: var(--border-color);
$heading-color: var(--headingColor);
$content-spacing: var(--contentSpacing);
$btn-min-height: var(--buttonMinHeight);
$btn-border-radius: var(--buttonBorderRadius);
$btn-text-initial-color: var(--buttonTextInitialColor);
$btn-text-hover-color: var(--buttonTextHoverColor);
$btn-initial-color: var(--buttonInitialColor);
$var: var(--buttonHoverColor);
$container-max-width: var(--container-max-width);
$content-vertical-spacing: var(--content-vertical-spacing);
$narrow-container-max-width: var(--narrow-container-max-width);
$wide-offset: var(--wide-offset);


// breakpoints
$mobile-small: 480px;
$mobile-large: 576px;
$mobile-landscape: 767px;
$tablet-small: 768px;
$tablet-large: 992px;
$tablet-landscape: 1024px;
$desktop-small: 1200px;
$desktop-large: 1400px;
$desktop-landscape: 1600px;
$desktop-extra-large: 1920px;